/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

 @font-face {
     font-family: 'MyBariolReg';
     src: url(https://i1.sdlcdn.com/static/img/marketing-mailers/mailer/2016/001cr/mg/Bariol_Regular.eot);
     src: url(https://i1.sdlcdn.com/static/img/marketing-mailers/mailer/2016/001cr/mg/Bariol_Regular.woff) format("woff"), url(https://i1.sdlcdn.com/static/img/marketing-mailers/mailer/2016/001cr/mg/Bariol_Regular.ttf) format("truetype"), url(https://i1.sdlcdn.com/static/img/marketing-mailers/mailer/2016/001cr/mg/Bariol_Regular.svg) format("svg");
     font-weight: 400;
     font-style: normal
 }

 @font-face {
     font-family: font-regular;
     src: url(https://i1.sdlcdn.com/static/img/marketing-mailers/mailer/2016/001cr/mg/MaisonNeueWEB-Book.woff) format("woff")
 }

 @font-face {
     font-family: font-bold;
     src: url(https://i1.sdlcdn.com/static/img/marketing-mailers/mailer/2016/001cr/mg/MaisonNeueWEB-Bold.woff) format("woff")
 }


@import "susy";
@import "breakpoint";
@import "bourbon/bourbon";
@import "scut";

@import 'partials/resets';
@import 'partials/vars';
@import 'partials/utilities';

//@import 'partials/headerBanner';
//@import 'partials/sectionXWrappers';
@import 'partials/defaultUnitOffer_newTheme';
//@import 'partials/loaderInactive';
//@import 'partials/loaderActiveTransition';
//@import 'partials/newThemeStyles';

/// +++++ required for captionTimer
//@import 'partials/caption_newTimerWrapper';

/// +++++ newSocialShare css
@import 'partials/socialShare_newTheme';

//@import 'partials/viewAll_new';
//@import 'partials/offerUnit_vwAll';
//@import 'partials/footerBannerX99';


//@import 'partials/dod_SuperDeals';
//@import 'partials/dod_responsive';
//@import 'partials/dod_conditionals';
//@import 'partials/offerUnit_vwAll';
// @import 'partials/dod_subscribeForm';
//@import 'partials/dod_subscribe_New';

/// +++++ all icons
@import 'partials/local_Icons_b64';

/// +++++ CONDITIONALS
//@import 'partials/filterConditionals';

/// +++++ ratingTooltip
//@import 'partials/ratingTooltip';


/// +++++ reactSpecific
//@import 'partials/reactPreLoaderWrappers';
//@import 'partials/infiniteComponentStyles';


/// +++++ preactSpecific
@import 'partials/wrapperComponent';
@import 'partials/customPreactTabComponent';
@import 'partials/offerUnitListComponent';
@import 'partials/reactLazyLoad';
@import 'partials/iconComponent';
@import 'partials/exploreMoreComponent';

$susy:( container:1920,
columns:12,
gutters:0.096,
gutter-position:after,
math:fluid,
//debug: (image: show),
output:float // For Debugging - mainWrapper should not have a bg Color
);

* {
  margin: 0;
  padding: 0;
}

#mainWrapperX_newX999 {
    @include transition(opacity 0.3s linear);

    @include container(1920px);
    font-size: 1em;
    line-height: 1;
    font-size: 14px;
    font-family: $sansSerifFont;
    position: relative;
    overflow: hidden;
    color: $textCol;
    //background: $wrapperBG;

    @include breakpoint(768px){
        font-size: 16px;
    }

    ul {
        list-style: none;
    }

    a img {
        border: none;
    }
    a {
        outline: 0;
        text-decoration: none;
    }
    img.map,
    map area {
        outline: none;
    }
}

.OfferContainer {
  width: 100%;
  float: left;
}
//////////////Reset Icon-fonts///////////////////
/////////////Snapdeal UI RESETS///////////////
.navFixedSmall {
    position: static !important;
    /*this resets FIXED widget to static position*/
}

.gutterPromotionHiddenOnOtherPages {
    display: none !important;
}

.bottomFreezeDiv,
#breadCrumbWrapper,
#rightLangWrapper {
    display: none !important;
    z-index: -1 !important;
    margin: 0 !important;
    padding: 0 !important;
}

.header-fixed,
.hd-rvmp.header-fixed,
#headerTop,
#headerFixed {
    position: static !important;
}

#content_wrapper {
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
}
/*weird fixed nav bar*/

.fixed-header-slide {
    min-height: 0px !important;
}

#dock.dock {
    position: static !important;
    top: -100px;
    display: none;
}
/* ////////////////// ENDERINO RESETERINO ///////////////////// */
