/*.reactLazyLoadHeroSpan--constrainSize {
    width:768px;
    height:150px;
}

@media (min-width:768px){
  .reactLazyLoadHeroSpan--constrainSize {
      width: 330px;
      height: 600px;
  }
}


.exploreMoreContainer {
  width: 70%;
  float: left;
  text-align: center;
}

.exploreMoreContainer li {
  width: 40%;
  display: inline-block;
}
*/
