.exploreMoreCaption {
  position: relative;
  text-align: center;
  padding: 20px 0;
  box-sizing: border-box;
  margin-bottom: 2em;

  h2 {
    display: inline-block;
    background: #fff;
    position: relative;
    z-index: 2;
    padding: 6px;
    font-size: 18px;
    color: #2d2648;

    @include breakpoint(768px){
      font-size: 24px;
    }
  }
  //background: #f2f2f2;
}

.headerGradientSvgContainer {
  position: absolute;
  width: 60%;
  &.left {
    left: 0%;
    bottom: 36px;
    min-height: 1px;
    background: #f2581e;

    @include breakpoint(640px){
      left: -25%;
    }

    @include breakpoint(1024px){
      left: -15%;

    }

    @include breakpoint(1280px){
      background: transparent;
    }
  }

  &.right {
    right: 0%;
    top: 33px;
    min-height: 1px;
    background: #f2581e;
    @include transform(rotate(180deg));

    @include breakpoint(640px){
      right: -25%;
    }

    @include breakpoint(1024px){
      right: -15%;
      top: 39px;
    }

    @include breakpoint(1280px){
      background: transparent;
    }
  }
}

.headerGradientSvgResponsiveWrapper {
  width: 100%;
  padding-top: 0;
  position: relative;
}

svg.headerGradientSvg {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;

  @include breakpoint(1280px){
    visibility: visible;
  }
}
.heroContainer {
  width: 100%;

  @include breakpoint(768px){
    width: 40%;
  }
}

.exploreMoreContainer {
  width: 100%;
  float: left;
  text-align: center;
  @include breakpoint(768px){
    width: 60%;
  }
}

ul.exploreMoreOfferUl {
  text-align: center;

  li {
    width: 46%;
    margin: 1%;
    display: inline-block;
    border: 1px solid #f2f2f2;

    @include breakpoint(768px){
      width: 36%;
      margin: 1.3% 1.6% 1.3% 1.6%;
    }

    &:nth-child(1), &:nth-child(2){
      @include breakpoint(768px){
        margin-top: 0;
      }
    }
  }

  img {
    @include breakpoint(768px){
      position: relative;
      top: 50%;
      @include transform(translateY(-50%));
    }

  }
}

.heroContainer {
  .reactLazyLoadSpan, .lazyLoadSpanWrapper  {
    text-align: inherit;
  }
}
