svg.tabIcon {
  max-width: 30px;
  height: auto;

  @include breakpoint(640px){
    max-width: 40px;
  }

  @include breakpoint(768px){
    max-width: 60px;
  }

}

.laptopIconSvg, .monitorIconSvg, .gamingConsoleIconSvg, .hardDriveIconSvg  {
  transition: fill 1s linear;
}


.laptopIconSvg, .monitorIconSvg, .gamingConsoleIconSvg, .hardDriveIconSvg  {
  fill: #ccc;
}

.tabList {
  li{
    &:nth-child(1):hover {
      .laptopIconSvg {
        fill: url('#laptopActiveGradient');
      }
    }
  }
}
.tabList {
  li.active{
    &:nth-child(1) {
      .laptopIconSvg {
        fill: url('#laptopActiveGradient');
      }
    }
  }
}

.tabList {
  li{
    &:nth-child(2):hover {
      .monitorIconSvg {
        fill: url('#monitorActiveGradient');
      }
    }
  }
}
.tabList {
  li.active{
    &:nth-child(2) {
      .monitorIconSvg {
        fill: url('#monitorActiveGradient');
      }
    }
  }
}

.tabList {
  li{
    &:nth-child(3):hover {
      .gamingConsoleIconSvg {
        fill: url('#gamingConsoleActiveGradient');
      }
    }
  }
}
.tabList {
  li.active{
    &:nth-child(3) {
      .gamingConsoleIconSvg {
        fill: url('#gamingConsoleActiveGradient');
      }
    }
  }
}

.tabList {
  li{
    &:nth-child(4):hover {
      .hardDriveIconSvg {
        fill: url('#hardDriveActiveGradient');
      }
    }
  }
}
.tabList {
  li.active{
    &:nth-child(4) {
      .hardDriveIconSvg {
        fill: url('#hardDriveActiveGradient');
      }
    }
  }
}
