.contRofl_clr {
  width: 100%;
  float: left;
}
.conditionalShow_small {
  display: none;

  @include breakpoint(640px){
    display: inline;
  }
}

.verticalCenterX99 {
  position: relative;
  top: 50%;
  @include transform(translateY(-50%));
}

.offerUnit_shadowStyle {
    box-shadow: 0 0 9px #e5e5e5;
}

.absWrapX {
  position: absolute;
  width: 100%;
  left: 0;
  bottom:0;
}

.clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.wrapCenterCont {
    text-align: center;
    height: 100%;
    &:before {
        content: "";
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }
}

.centeredContX {
    display: inline-block;
    vertical-align: middle;
    width: 96%;
    ///it is FUCKING important to define the width do not exceed 98% Width Nigga
}


.eg-side-lined-1 {
  width: 100%;
  display: block;
  overflow: hidden;
  text-align: center;
}
.eg-side-lined-1:before, .eg-side-lined-1:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 50%;
  border-top-style: solid;
  border-top-width: 1px;
}
.eg-side-lined-1:before {
  right: 0.5em;
  margin-left: -50%;
}
.eg-side-lined-1:after {
  left: 0.5em;
  margin-right: -50%;
}
